body{
  font-family: "Dancing Script", cursive;
  background-color: #02010a;
  color: white;
}
img{
  -webkit-filter: drop-shadow(2px 2px 2px #02010a);
  filter: drop-shadow(2px 2px 2px #02010a);
}
.contenedor-superior{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.contenedor-superior .contenedor-links a{
  color: white;
  text-decoration: underline;
  padding: 5px;
  margin: 10px;
  font-size: 1.2em;
}
.caja-paisajes{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #d5c75f;
  padding: 0.2%;
}
#retratos{
  text-decoration: none;
}
.central{
  background-color: #82c3a6;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2%;
}
article p>img{
  text-align: center;
}
#paisaje-1{
  order: 1;
  width: 80%;
  padding: 0.5%;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}
#paisaje-2{
  order: 2;
  width: 80%;
  padding: 0.5%;
  margin-left: auto;
  margin-right: auto;
}
#paisaje-3{
  order: 3;
  width: 80%;
  padding: 0.5%;
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
  margin-left: auto;
  margin-right: auto;
}
#paisaje-4{
  order: 4;
  width: 80%;
  padding: 0.5%;
  margin-left: auto;
  margin-right: auto;
}
#paisaje-5{
  order: 5;
  width: 80%;
  padding: 0.5%;
  margin-left: auto;
  margin-right: auto;
}
#paisaje-6{
  order: 6;
  width: 80%;
  padding: 0.5%;
  margin-left: auto;
  margin-right: auto;
}
.caja-paisajes img:nth-child(even){
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
footer .contenedor-final{
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2%;
  color: black;
}
.redes img{
  width: 15px;
}
.contacto a{
  color: black;
}
header{
  animation: entrada 1s;
}
@-webkit-keyframes entrada {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
@media (max-width:899px) {
  .contenedor-superior{
    display: flex;
    flex-wrap: wrap;
    padding: 0.2%;
  }
  .titulo{
    order: 1;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 2px #02010a;
  }
  .contenedor-links {
    order: 2;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }
  .caja-paisajes{
    display: flex;
    flex-wrap: wrap;
  }
  .contenedor-final{
    display: flex;
    flex-wrap: wrap;
  }
  .contacto{
    order: 1;
    width: 100%;
    padding: 0.5%;
  }
  .terminos{
    order: 2;
    width: 100%;
    padding: 0.5%;
  }
  .redes{
    order: 3;
    width: 100%;
    padding: 0.5%;
  }
  .derechos{
    order: 4;
    width: 100%;
    padding: 0.5%;
  }
}
@media (min-width:900px) {
  .contenedor-superior{
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2%;
  }
  .titulo{
    order: 1;
    width: 50%;
    margin-left: 2%;
    text-shadow: 2px 2px 2px #02010a;
  }
  .contenedor-links {
    order: 2;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
  }
  .contenedor-superior .contenedor-links a{
    color: white;
    text-decoration: underline;
    padding: 5px;
    margin: 10px;
    font-size: 1.2em;
  }
  .caja-paisajes{
    background-color: #d5c75f;
    display: flex;
    flex-flow: row wrap;
  }
  #paisaje-1{
    order: 1;
    width: 30%;
    padding: 1.5%;
  }
  #paisaje-2{
    order: 2;
    width: 30%;
    padding: 1.5%;
  }
  #paisaje-3{
    order: 3;
    width: 30%;
    padding: 1.5%;
  }
  #paisaje-4{
    order: 4;
    width: 30%;
    padding: 1.5%;
  }
  #paisaje-5{
    order: 5;
    width: 30%;
    padding: 1.5%;
  }
  #paisaje-6{
    order: 6;
    width: 30%;
    padding: 1.5%;
  }
  .contenedor-final{
    display: flex;
    flex-wrap: wrap;
  }
  .contacto{
    order: 1;
    width: 24%;
    padding: 0.5%;
  }
  .terminos{
    order: 2;
    width: 24%;
    padding: 0.5%;
  }
  .redes{
    order: 3;
    width: 24%;
    padding: 0.5%;
  }
  .derechos{
    order: 4;
    width: 24%;
    padding: 0.5%;
  }
}
